In [4]:
dir_path = "/home/S113062628/project/echo-embeddings/mteb_results/echo_mistral/STS/no_model_name_available/no_revision_available/"

import os
import json
import pandas as pd

main_score = 0.0
count = 0

data = []

for json_log in os.listdir(dir_path):
    if json_log.endswith(".json") and json_log != "model_meta.json":
        with open(os.path.join(dir_path, json_log), "r") as f:
            log_data = json.load(f)
            main_score += log_data["scores"]["test"][0]["main_score"]
            data.append(
                {
                    "file": json_log,
                    "main_score": log_data["scores"]["test"][0]["main_score"],
                }
            )
            count += 1

average_main_score = main_score / count if count > 0 else 0
print(f"Average main_score across {count} files: {average_main_score}")

data.append(
    {
        "file": "Average",
        "main_score": average_main_score,
    }
)

df_1 = pd.DataFrame(data)

df_1

Average main_score across 10 files: 0.7348157

                 file  main_score
0          STS13.json    0.793570
1          STS14.json    0.687796
2          STS22.json    0.584265
3          STS17.json    0.831447
4          STS15.json    0.801311
5          STS12.json    0.609807
6   STSBenchmark.json    0.752933
7          STS16.json    0.765308
8         SICK-R.json    0.741937
9        BIOSSES.json    0.779783
10            Average    0.734816

In [5]:
dir_path = "/home/S113062628/project/echo-embeddings/mteb_results/echo_mistral/STS_budget512/no_model_name_available/no_revision_available/"

import os
import json
import pandas as pd

main_score = 0.0
count = 0

data = []

for json_log in os.listdir(dir_path):
    if json_log.endswith(".json") and json_log != "model_meta.json":
        with open(os.path.join(dir_path, json_log), "r") as f:
            log_data = json.load(f)
            main_score += log_data["scores"]["test"][0]["main_score"]
            data.append(
                {
                    "file": json_log,
                    "main_score": log_data["scores"]["test"][0]["main_score"],
                }
            )
            count += 1

average_main_score = main_score / count if count > 0 else 0
print(f"Average main_score across {count} files: {average_main_score}")

data.append(
    {
        "file": "Average",
        "main_score": average_main_score,
    }
)

df_2 = pd.DataFrame(data)

df_2

Average main_score across 10 files: 0.7348146

                 file  main_score
0          STS13.json    0.793593
1          STS14.json    0.687793
2          STS22.json    0.584206
3          STS17.json    0.831488
4          STS15.json    0.801307
5          STS12.json    0.609780
6   STSBenchmark.json    0.752928
7          STS16.json    0.765328
8         SICK-R.json    0.741940
9        BIOSSES.json    0.779783
10            Average    0.734815

In [6]:
df = df_1.merge(df_2, on="file", suffixes=("_budget_perfect_match", "_budget512"))
df

                 file  main_score_budget_perfect_match  main_score_budget512
0          STS13.json                         0.793570              0.793593
1          STS14.json                         0.687796              0.687793
2          STS22.json                         0.584265              0.584206
3          STS17.json                         0.831447              0.831488
4          STS15.json                         0.801311              0.801307
5          STS12.json                         0.609807              0.609780
6   STSBenchmark.json                         0.752933              0.752928
7          STS16.json                         0.765308              0.765328
8         SICK-R.json                         0.741937              0.741940
9        BIOSSES.json                         0.779783              0.779783
10            Average                         0.734816              0.734815